<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/layout :: head"></head>
</head>
<body>
<header th:replace="layouts/layout::header"></header>
<div class="container">
	<table class="table">
 <thead>
  <tr>
     <th scope="col">id</th>
     <th scope="col">Descripcion</th>
     <th scope="col">Cliente</th>     
   
  </tr>
 </thead>
 <tbody>
 
  <tr th:each="invoice: ${invoices}">     
     <td th:text="${invoice.id}"/>
     <td th:text="${invoice.description}" />
     <td th:text="${invoice.customer.firstName}  + ' ' +  ${invoice.customer.lastName}" />
         
     <td th:text="${invoice.createAt}" />
     <td> <a th:href="@{/invoice/} + ${invoice.id}" th:text="'Ver'" 
             class="btn btn-primary btn-xs" ></a></td>
     
  </tr>
 </tbody>
</table>
</div>

<a th:href="@{/invoice}" class="btn btn-primary">Crear Factura</a>
<a th:href="@{/}" class="btn btn-secondary">Regresar</a> 

<footer th:replace="layouts/layout::footer"></footer>
</body>
</html>