<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/layout :: head"></head>
</head>
<body>
<header th:replace="layouts/layout::header"></header>
<div class="container">
	<table class="table">
 <thead>
  <tr>
     <th scope="col">id</th>
     <th scope="col">Descripcion</th>
     <th scope="col">Cliente</th>     
     <th scope="col">Total</th>
  </tr>
 </thead>
 <tbody>
 
  <tr th:each="product: ${products}">     
     <td th:text="${product.id}"/>
     <td th:text="${product.name}" />
     <td th:text="${product.price}" />     
     <td th:text="${product.createAt}" />
     <td> <a th:href="@{/product/} + ${product.id}" th:text="'Editar'" 
             class="btn btn-primary btn-xs" ></a></td>
     <td> <a th:href="@{/remove/} + ${product.id}" th:text="'Eliminar'" 
             class="btn btn-danger btn-xs" 
             onclick="return confirm('Estas seguro?')" ></a></td>
  </tr>
 </tbody>
</table>
</div>

<a th:href="@{/product}" class="btn btn-primary">Crear Producto</a>
<a th:href="@{/}" class="btn btn-secondary">Regresar</a>
<footer th:replace="layouts/layout::footer"></footer>
</body>
</html>